<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Detail</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- BAGIAN HEADER -->
    <header>
        <img src="../LandingPage/logo.png" alt="logo">
    </header>
    <!-- BAGIAN HEADER -->
     
    <!-- CONTENT -->

        <!-- BAGIAN gambar,judul,penulis,tgl,deskripsi dll -->
        <div class="image">
            <img src="bgKe2.jpg" alt="background" class="bgKe2">
        </div>

        <div class="title">
            <h1> Peran Data Analyst dalam Dunia Medis di Industri 4.0</h1>
            <h5> Moch Iqbal | Kamis, 29 Agustus 2024</h5>
            <p>Perkembangan revolusi industri 4.0 membawa data menjadi komponen penting dalam perubahan dunia. Data menjadi inti dari transformasi digital yang sedang berlangsung. Seseorang yang menganalisis sebuah data disebut Data Analyst. Skills seorang Data Analyst diperlukan dalam semua sektor kehidupan, salah satunya yaitu sektor kesehatan. Dalam dunia medis, seorang data analyst memiliki peran yang sangat penting. Misal saja kasus covid-19 yang menyerang manusia hampir di seluruh dunia</p> 
        </div>

     
        <!-- BAGIAN gambar,judul,penulis,tgl,deskripsi dll -->

    <!-- CONTENT -->
</body>
</html>