<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTech Indonesia</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="logo"> 
        <img src="logo-selekda.png" alt="logo" style="height: 80px;">
        <span>WEB TECH INDONESIA</span>
    </div>
    <div class="header">
        <div class="view">View : 0000</div>
        <div class="kategori">Kategori</div>
    </div>
        <div class="container">
            <div class="content">
                <div class="item">
                    <div class="title">TITLE</div>
                    <div class="description">Deskripsi</div>
                </div>
                <div class="item">
                    <div class="title">TITLE</div>
                    <div class="description">Deskripsi</div>
                </div>
                <div class="item">
                    <div class="title">TITLE</div>
                    <div class="description">Deskripsi</div>
                </div>
                <div class="item">
                    <div class="title">TITLE</div>
                    <div class="description">Deskripsi</div>
                </div>
            </div>
            <div class="footer">
                <div class="author">Author: Muhammad Hadyan</div>
                <div class="date">Date : 29/08/2024</div>
                <a href="#" class="comments">Open Comments</a>
            </div>
        </div>
</body>
</html>

