<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LANDING PAGE | MUHAMMAD HADYAN</title>
    <!-- CSS MURNI SAYA -->
    <link rel="stylesheet" href="style.css" />
    <!-- CSS MURNI SAYA -->
    <!-- CDN FEATHER ICONS -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <!-- CDN FEATHER ICONS -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body bgcolor="white">
    <!-- INI BAGIAN HEADER -->
    <header>
      <!-- INI BAGIAN NAV -->
      <nav>
        <div class="container">
          <img src="logo.png" alt="logo" class="logo" />
          <ul class="ulNavbar">
            <a href="#"><li class="liNavbar">News</a></li>
            <a href="#"> <li class="liNavbar">Services</a></li>
            <a href="#"> <li class="liNavbar">Portfolio</a></li>
            <a href="#"> <li class="liNavbar">Testimonials</a></li>
          </ul>

          <div class="iconss">
            <div class="iconSearch">
              <a href=""><i data-feather="search" class="icon"></i></a>
            </div>

            <div class="iconSosmed">
              <a href=""><i id="iconIg" data-feather="instagram" class="icon"></i></a>
              <a href=""> <i id="iconFb" data-feather="facebook" class="icon"></i></a>
              <a href=""><i id="iconX" class="fa fa-x-twitter fa-brands fa-2x icon" ></i></a>
              <a href="#" id="hamburger-menu"> <i data-feather="menu"></i></a>
            </div>
          </div>
        </div>
      </nav>
      <!-- INI BAGIAN NAV -->
    </header>
    <!-- INI BAGIAN HEADER -->

    <!-- INI CONTENT -->

    <section>
      <div class="img-bg">
        <div class="content">Selamat datang di WebTechID</div>
      </div>

      

    </section>

    <!-- INI CONTENT -->

    <!-- FOOTER -->
    <footer>
      <h1>&copy; Dirancang oleh : Muhammad Hadyan</h1>
    </footer>
    <!-- FOOTER -->

    <!-- FEATHER ICONS JS -->
    <script>
      feather.replace({ width: 40, height: 40 });
    </script>
    <!-- FEATHER ICONS JS -->
  </body>
</html>
